[submodule "agda-stdlib"]
	path = agda-stdlib
	url = https://github.com/agda/agda-stdlib
[submodule "cubical"]
	path = cubical
	url = https://github.com/agda/cubical
[submodule "agda-categories"]
	path = agda-categories
	url = https://github.com/agda/agda-categories
